@model Historia.Modelos.Dios

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDivino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDivino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePopular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePopular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Elemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Elemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mitologia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mitologia.Nombre)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  Id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
